<head>
    <title>Checkboard</title>
<style>
body {
    background-color: white;
}
h1 {
    color: maroon;
    margin-left: 40px;
}
.color1{
    width: 60px;
    height:60px;
    background-color: red;
    border: solid 1px black;
}
.color2{
    width: 60px;
    height: 60px;
    background-color: black;
    border: solid 1px black;
}
</style>
</head>
<body>
    <table>
        {% for x in range(0,row):%}
        <tr>
           {% for y in range(0, column):%}
            <td class="color1"></td>
            <td class="color2"></td>
            {% endfor %}                      
        </tr>
        <tr>
            {% for y in range(0, column):%}
            <td class="color2"></td>
            <td class="color1"></td>
            {% endfor %}    
        </tr>
        {% endfor %}        
    </table>
</body>
</html>